.app {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

ul {
  padding: 14px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.main-container {
  background-color: black;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

li {
  width: 100%;
}

h2 {
  font-size: 44px;
  font-weight: 300;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.btn {
  padding: 14px 2px;
  border-radius: 50%;
  color: white;
  width: 50px;
  text-align: center;
  font-size: 12px;
}

.start {
  background-color: rgba(69, 173, 69, 0.895);
}

.lap {
  background-color: rgba(211, 201, 201, 0.854)
}

.listElement {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 0px;
  width: 100%;
  flex: 1
}

.listElement:first-child {
  border-top: 1px solid grey;
}

span {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.listElement p {
  flex: 1;
  text-align: left;
}

.listElement span {
  flex: 1;
  text-align: right;
}